@font-face {
    font-family: "Zen Dots MetagraveEmbedded";
    /*noinspection CssUnknownTarget*/
    src: url("../fonts/ZenDots-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
