body {
    margin: 0;
}

.titlebar {
    height: 32px;
    background: #242728;
    border-bottom: 1px solid #2F3233;
    color: #ddd;
    user-select: none;
    app-region: drag;
    display: flex;
    align-items: center;
    padding: 0 0 0 8px;
    box-sizing: border-box;
    font-family: sans-serif;
}

@media (prefers-color-scheme: light) {
    .titlebar {
        background: #FFF;
        border-color: #E5E5E5;
        color: #333;
    }
}

.btn {
    width: 46px;
    height: 100%;
    app-region: no-drag;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    transition: background 0.1s ease-in-out;
}

.btn:hover {
    background: #3a3a3a;
}

.btn.close:hover {
    background: #e81123;
    color: white;
}

.btn > svg > path {
    fill: white;
}

@media (prefers-color-scheme: light) {
    .btn > svg > path {
        fill: #111;
    }

    .btn:hover {
        background: #d5d4d4;
    }
}

.region {
    display: none;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

body[data-platform="macos"]     .region.platform-macos,
body[data-platform="windows"]   .region.platform-windows,
body[data-platform="other"]     .region.platform-other {
    display: flex;
}
