body {
    margin: 0;
}

.titlebar {
    height: 32px;
    background: #1A1A1A;
    color: #ddd;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    display: flex;
    align-items: center;
    padding: 0 0 0 8px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.btn {
    width: 46px;
    height: 100%;
    -webkit-app-region: no-drag;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.btn:hover {
    background: #3a3a3a;
}

.btn.close:hover {
    background: #e81123;
    color: white;
}

.btn > svg > path {
    fill: white;
}
