:root,
html#facebook > body,
.__fb-dark-mode,
.__fb-dark-mode:root,
.__fb-light-mode,
.__fb-light-mode:root {
    --header-height: 0px !important;
}

/* The top Facebook toolbar */
div[role="banner"] {
    > div {
        overflow: hidden !important;
    }
}

body[data-metagrave-show-profile-menu="1"] {
    /* This is where the profile menu lives */
    div[role="banner"] > div:nth-child(5) {
        overflow: revert !important;

        > div:nth-child(1) {
            overflow: hidden !important;
        }
    }
}
