:root,
html#facebook > body,
.__fb-dark-mode,
.__fb-dark-mode:root,
.__fb-light-mode,
.__fb-light-mode:root {
    --header-height: 0px !important;
}

/* The top Facebook toolbar */
div[role="banner"] {
    > div {
        overflow: hidden !important;
    }
}

body[data-metagrave-show-profile-menu="1"] {
    /* This is where the profile menu lives */
    div[role="banner"] > div:nth-child(5) {
        overflow: revert !important;

        > div:nth-child(1) {
            overflow: hidden !important;
        }
    }
}

/* The top bar visible when viewing images in specific circumstances */
html > body > div:first-of-type > div > div:first-of-type > div > div:nth-of-type(5) > div > div > div:nth-of-type(3) > div:nth-of-type(2) > div:nth-of-type(3) > div:first-of-type {
    visibility: hidden !important;
}

.metagrave-close-media-button {
    --size: 48px;
    --margin: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: var(--margin);
    right: var(--margin);
    width: var(--size);
    height: var(--size);
    border: none;
    border-radius: 100%;
    background-color: #000d;
    cursor: pointer;

    &:hover {
        background-color: #333d;
    }

    &:active {
        background-color: #666d;
    }

    > svg {
        fill: white;
    }
}
