/* Window drag region in the upper 32px of the window */
/*html > body::after {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 32px;*/
/*    content: "";*/
/*    z-index: 99999;*/
/*    app-region: drag;*/
/*}*/
